<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Include Chart.js from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="bg-gray-100 font-sans">

    <!-- Main Content -->
    <div class="py-10">
        <div class="mx-auto px-4 m-2 flex justify-end">
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="px-4 py-2 bg-red-600 text-white shadow text-md rounded-md hover:bg-red-800">Log out</button>
            </form>
        </div>
        <div class="mx-auto px-4 m-2">
            <div class="bg-white shadow overflow-hidden rounded-lg">
                <div class="px-4 py-5">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">Database Dashboard</h3>
                </div>
                <div class="border-t border-gray-200">
                    <ul>
                        <li class="bg-white pt-5 px-6">
                            <span class="text-sm font-medium text-gray-900">Size: </span>
                            <span class="text-sm text-gray-900">{{ db_size }} gb</span>
                        </li>
                        <li class="bg-white pt-5 px-6">
                            <span class="text-sm font-medium text-gray-900">Searches: </span>
                            <span class="text-sm text-gray-900">{{ num_searches }}</span>
                        </li>
                        <li class="bg-white pt-5 px-6">
                            <span class="text-sm font-medium text-gray-900">Top Result: </span>
                            <span class="text-sm text-gray-900">{{ most_common_top_result }}</span>
                        </li>
                    </ul>
                    <p class="py-5 px-6 text-sm font-medium text-gray-900">Chart: </p>
                    <!-- Chart Container -->
                    <div class="px-6">
                        <canvas id="topResultsChart"></canvas>
                    </div>
                </div>
            </div> 
            
        </div>
        <div class="mx-auto px-4 m-2">
            <div class="bg-white shadow overflow-hidden rounded-lg">
                <div class="px-4 py-5">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">Search Dashboard</h3>
                </div>
                <div class="border-t border-gray-200">
                    <ul>
                        <li class="bg-white py-5 grid grid-cols-3 gap-4 px-6">
                            <span class="text-sm font-medium text-gray-900">Search Query</span>
                            <span class="text-sm font-medium text-gray-900">Top Result</span>
                            <span class="text-sm font-medium text-gray-900">Timestamp</span>
                        </li>
                        {% for log in search_logs %}
                        <li class="bg-white py-5 grid grid-cols-3 gap-4 px-6">
                            <span class="text-sm text-gray-900">{{ log.search_query }}</span>
                            <span class="text-sm text-gray-900">{{ log.top_result }}</span>
                            <span class="text-sm text-gray-900">{{ log.search_timestamp }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Chart.js Script -->
    <script>
        var ctx = document.getElementById('topResultsChart').getContext('2d');

        // var chartData = {
        //     labels: {{ top_10_keys }},  // Labels for the X axis (search terms)
        //     datasets: [{
        //         label: 'Top 10 Search Counts',
        //         data: {{ top_10_vals }},  // Data for the Y axis (counts)
        //         backgroundColor: 'rgba(54, 162, 235, 0.6)',  // Bar color
        //         borderColor: 'rgba(54, 162, 235, 1)',  // Border color
        //         borderWidth: 1
        //     }]
        // };

        var topResultsChart = new Chart(ctx, {
            type: 'bar',
            data: chartData,
            options: {
                indexAxis: 'y',  // Horizontal bar chart
                scales: {
                    x: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

</body>
</html>
